.topLayout {
    margin-left: 24%;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 100;
}

.user {
    padding: 10px 0px;
    margin-left: 38%;
}
.userTile{
    line-height: 30px;
    margin-left: 4px;
    font-weight: 500;
}